<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/assets/site.css" rel="stylesheet">
    <script src="/assets/rainbow.js"></script>
    <link href="//feeds.feedburner.com/zduck" rel="alternate" type="application/atom+xml">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32459558-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="title"><a href="/" id="home">home</a><h1>{{ page.title  | xml_escape }}</h1><span> {{ page.date | date_to_string }}</div>
    <div id="a">
      <div class="sharing">
        <div style="float: right;">
          <a href="https://twitter.com/JoshuaPoehls" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @JoshuaPoehls</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url}}{{page.url}}" data-via="JoshuaPoehls" data-size="large">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div class="g-plusone" data-href="{{site.url}}{{page.url}}"></div>
      </div>
      {{ content }}
      <div class="footer">
        <p>Questions and comments are always welcome, just <a href=//twitter.com/joshuapoehls>tweet @JoshuaPoehls</a>.</p>
      {% if page.iwpost %}
        <p class="crosspost">I also published this article on <a href={{ page.iwpost }} title="Read this post on my InterWorks blog.">my InterWorks blog</a>.</p>
      {% endif %}
        <p>Copyright &copy; {{page.date | date: "%Y"}} Joshua Poehls
      </div>
    </div>
    <div id="comments" class="section">
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink attribution">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <script  type="text/javascript">
    (function() {
     var dsq = document.createElement('script');
     dsq.type = 'text/javascript';
     dsq.async = true;
     dsq.src = 'http://zduck.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=zduck">comments powered by Disqus.</a></noscript>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>